:host {
    @apply(--layout-vertical)
    font-size: 12px;
}

#content {
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;

    box-shadow: inset 0 0 15px 5px rgba(0,0,0,0.5);
    background: #292929;
}

canvas {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    display: block;
    background-image: url('packages://inspector/static/checkerboard-32x32.png');
    background-size: 32px 32px;
    background-position: center center;
}

svg {
    position: absolute;
}

#pad {
    position:absolute;

    right: 10px;
    bottom: 10px;
    width: 300px;
    padding: 10px;

    border-radius: 5px;

    background: #474747;
}

span.space {
    width: 5px;
    height: 5px;
    display: inline-block;
}

.title {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
    color: #aaa;
    font-weight: bold;
}

.label {
    text-align: right;
    margin-right: 5px;
    color: #aaa;
}
